body {
  font-family: DM Sans;
  .nft-primary-btn {
    border: 1px solid #3d00b7;
    background: #3d00b7;
    color: #fff;
    padding: 8px 24px;
    border-radius: 25px;
    text-decoration: none;
    font-family: DM Sans;
    font-weight: 700;
    letter-spacing: 0.56px;
  }
  .nft-secondary-btn {
    border: 1px solid #3d00b7;
    background: #fff;
    color: #3d00b7;
    padding: 8px 24px;
    border-radius: 25px;
    text-decoration: none;
    font-family: DM Sans;
    font-weight: 700;
    letter-spacing: 0.56px;
  }
}
