//========= hero ==========
.hero-main-area-wrap {
  height: calc(100vh - 80px);
  width: 100%;
  display: flex;
  align-items: center;
  > .row {
    width: 100%;
    .hero-left-content {
      h2 {
        font-family: "Integral CF";
        font-weight: 700;
        font-size: 44px;
        letter-spacing: 2px;
        line-height: 54px;
        margin-bottom: 20px;
      }
      p {
        color: #565656;
        font-size: 20px;
        line-height: 160%;
        margin-bottom: 40px;
      }
      .hero-left-bottom-statistics {
        .nft-primary-btn {
          border: 1px solid #3d00b7;
          background: #3d00b7;
          color: #fff;
          padding: 14px 32px;
          border-radius: 25px;
          text-decoration: none;
          font-family: DM Sans;
          font-weight: 700;
          letter-spacing: 0.56px;
        }
        .hero-statistics-wrap {
          display: flex;
          margin-top: 30px;
          gap: 30px;
          h3 {
            color: #000;
            font-size: 40px;
            font-family: Integral CF;
            font-weight: 700;
            letter-spacing: 2px;
            display: flex;
            align-items: center;
            margin-bottom: 2px;
            i {
              position: relative;
              font-size: 30px;
              top: 6px;
              font-weight: 700;
            }
          }
          p {
            color: #565656;
            font-size: 20px;
            font-family: DM Sans;
            line-height: 160%;
          }
        }
      }
    }

    .hero-right-slider-wrap {
      .swiper {
        width: 400px;
        height: 440px;
      }

      .swiper-slide {
        overflow: visible;
        .swiper-3d .swiper-slide-shadow {
          background: rgba(0, 0, 0, 0.15);
          border-radius: 20px;
        }
        .single-hero-slider-card {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          height: 100%;
          position: relative;
          padding: 20px;
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          .slider-badge {
            position: absolute;
            bottom: 130px;
            width: 110px;
            height: 110px;
            /* background: #efefef; */
            border-radius: 50%;
            left: -55px;
            img {
              width: 100%;
            }
          }
          .slider-header {
            h6 {
              color: #fff;
              font-size: 28px;
              font-family: DM Sans;
              font-weight: 700;
              letter-spacing: -1.4px;
            }
            .slider-card-profile {
              display: flex;
              align-items: center;
              gap: 10px;
              img {
                width: 32px;
                height: 32.821px;
                flex-shrink: 0;
              }
              p {
                margin-bottom: 0;
                color: #fff;
                font-size: 20px;
                font-family: DM Sans;
                font-weight: 700;
              }
            }
          }
          .slider-footer {
            display: flex;
            justify-content: space-between;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(25px);
            padding: 10px 12px;
            .slider-footer-left {
              span {
                color: #fff;
                font-size: 12px;
                font-family: DM Sans;
                font-weight: 500;
                margin-bottom: 4px;
                display: block;
              }
              h3 {
                color: #fff;
                font-size: 16px;
                font-family: DM Sans;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 0;
              }
            }
            .slider-footer-right {
              span {
                color: #fff;
                font-size: 12px;
                font-family: DM Sans;
                font-weight: 500;
                margin-bottom: 4px;
                display: block;
              }
              h3 {
                color: #fff;
                font-size: 16px;
                font-family: DM Sans;
                font-weight: 700;
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

//=========== Amazing NFT ==============
.amazing-nft-full-area {
  background: rgba(217, 224, 236, 0.2);
  backdrop-filter: blur(25px);
  padding: 60px 0;
  height: 330px;
  display: flex;
  align-items: center;
  .amazing-nft-left-title {
    padding: 0px 20px;
    padding-left: 0;
    h2 {
      color: #000;
      font-size: 28px;
      font-family: Integral CF;
      font-weight: 700;
    }
  }
  .amazing-nft-right-single-item {
    display: flex;
    gap: 20px;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
    h4 {
      color: #000;
      font-size: 20px;
      font-family: DM Sans;
      font-weight: 700;
    }
    p {
      color: #696969;
      font-size: 14px;
      font-family: DM Sans;
      line-height: 160%;
      margin-bottom: 0;
    }
  }
}
//======= NFT Collection =================
.nft-collection-full-area-wrap {
  margin: 60px 0;
  .nft-collection-inner-container {
    .single-collection-card {
      img {
        width: 100%;
      }
      .single-nft-collection-card-bottom {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 14px 0;
        .profile-left {
          display: flex;
          gap: 10px;
          align-items: center;
          width: 50%;
          img {
            width: 40px;
          }
          h6 {
            color: #000;
            font-size: 20px;
            font-family: DM Sans;
            font-weight: 700;
            margin-bottom: 0;
          }
          span {
            color: #363639;
            font-size: 14px;
            font-family: DM Sans;
          }
        }
        .profile-right-bid-info {
          h6 {
            color: #000;
            font-size: 20px;
            font-family: DM Sans;
            font-weight: 700;
            margin-bottom: 0;
          }
          span {
            color: #363639;
            font-size: 14px;
            font-family: DM Sans;
            display: inline-block;
            margin-bottom: 4px;
          }
          svg {
            path {
              fill: #3a3a3a;
            }
          }
        }
      }
    }
    .nft-collection-list {
      border-right: 1px solid #efefef;
      .nft-single-collection-list-item {
        display: flex;
        gap: 20px;
        margin-bottom: 30px;
        .nft-s-c-l-i-left-image {
          width: 130px;
          img {
            width: 100%;
          }
        }
        .nft-s-c-l-i-right-content {
          width: calc(100% - 155px);
          h4 {
            color: #000;
            font-size: 20px;
            font-family: DM Sans;
            font-weight: 700;
          }
          .nft-s-c-l-i-right-profile-left {
            display: flex;
            align-items: center;
            gap: 10px;
            .nft-s-c-l-i-right-profilebid-amount {
              display: flex;
              padding: 4px 12px;
              justify-content: center;
              align-items: center;
              gap: 5px;
              border-radius: 6px;
              border: 1px solid #00ac4f;
              color: #00ac4f;
              font-size: 12px;
              font-family: DM Sans;
              font-weight: 700;
              svg {
                path {
                  fill: #00ac4f;
                }
              }
            }
            span {
              color: #757575;
              font-size: 14px;
              font-family: DM Sans;
            }
          }
          button {
            display: inline-flex;
            padding: 8px 20px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 50px;
            background: #3d00b7;
            color: #fff;
            font-size: 14px;
            margin-top: 14px;
            border: none;
          }
        }
      }
    }
    .top-collection-over {
      .top-collect-header {
        margin-bottom: 30px;
        h3 {
          color: #000;
          font-size: 20px;
          font-family: Integral CF;
          font-weight: 700;
        }
        h6 {
          color: #3d00b7;
          font-size: 18px;
          font-family: DM Sans;
          font-weight: 700;
        }
      }
      .top-collection-list {
        .top-collection-single-item {
          display: flex;
          align-items: center;
          gap: 16px;
          margin-bottom: 14px;
          padding-bottom: 14px;
          border-bottom: 1px solid #efefef;
          .t-c-ps-item-left {
            display: flex;
            align-items: center;
            gap: 16px;
            h4 {
              margin-bottom: 0;
            }
            .t-c-ps-item-left-image-with-badge {
              position: relative;
              width: 60px;
              height: 60px;
              svg {
                position: absolute;
                right: -7px;
                top: -7px;
              }
              img {
                width: 60px;
              }
            }
          }
          .t-c-ps-item-middle {
            h5 {
              color: #000;
              font-size: 16px;
              font-family: DM Sans;
              font-weight: 500;
              line-height: 103%;
              letter-spacing: -0.4px;
            }
            h6 {
              color: #636363;
              font-size: 14px;

              font-weight: 600;
              line-height: 103%;
              letter-spacing: -0.35px;
              svg {
                path {
                  fill: #3a3a3a;
                }
              }
            }
          }
          .t-c-ps-item-right {
            h4 {
              color: #14c8b0;
              text-align: right;
              font-size: 20px;

              font-weight: 600;
              line-height: 103%;
              letter-spacing: -0.5px;
            }
          }
        }
      }
    }
  }
}

//======= Nft Feature =================
.nft-feature-collection {
  background: rgba(217, 224, 236, 0.2);
  backdrop-filter: blur(25px);
  padding: 80px 0;
  .nft-feature-collection-inner-container {
    .nft-feature-collection-title {
      margin-bottom: 40px;
      h3 {
        color: #000;
        font-size: 28px;
        font-family: Integral CF;
        font-weight: 700;
      }
    }
    .nft-feature-single-card {
      .nft-feature-image-wrap {
        display: flex;
        gap: 10px;
        height: 310px;
        .feature-image {
          width: calc(100% - 120px);
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
          }
        }
        .feature-image-list {
          width: 110px;
          height: 100%;
          ul {
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            li {
              img {
                width: 100%;
              }
            }
          }
        }
      }
      .nft-feature-card-profile {
        padding: 20px 0;
        h3 {
          color: #000;
          font-size: 20px;
          font-family: DM Sans;
          font-weight: 700;
        }
        .nft-feature-card-profile-bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          span {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;
          }
          .nft-profile-item-info {
            p {
              padding: 6px 20px;
              justify-content: center;
              align-items: center;

              border-radius: 60px;
              border: 1px solid #2639ed;
              color: #2639ed;
              font-size: 11.001px;
              font-family: DM Sans;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
//======== Create NFT Account =================
.create-nft-account-full-area {
  margin: 80px 0;
  .create-nft-account-inner-container {
    .create-nft-account-left {
      .c-n-a-l-profile-view-wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
      .c-n-a-r-profile-view-wrap {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        .single-profile-view {
          &:last-child {
            width: 85%;
          }
        }
      }
      .single-profile-view {
        position: relative;
        margin-right: 40px;
        margin-bottom: 40px;
        &:last-child {
          width: 70%;
        }
        > img {
          width: 100%;
        }
        .profile-image {
          position: absolute;
          width: 60px;
          height: 60px;
          right: -24px;
          bottom: -24px;

          border-radius: 50%;
          img {
            width: 100%;
          }
        }
      }
    }
    .create-nft-account-right {
      h3 {
        color: #000;
        font-size: 32px;
        font-family: Integral CF;
        font-weight: 700;
        margin-bottom: 30px;
      }
      p {
        color: #636363;
        font-size: 18px;
        font-family: DM Sans;
        line-height: 160%;
        margin-bottom: 20px;
      }
    }
  }
}
//========= Discover NFT ============
.discover-nft-full-area {
  padding: 80px 0;
  background: rgba(217, 224, 236, 0.2);
  backdrop-filter: blur(25px);
  .discover-inner-container {
    .discover-nft-header {
      margin-bottom: 40px;
      h3 {
        color: #000;
        font-size: 32px;
        font-family: Integral CF;
        font-weight: 700;
        margin-bottom: 30px;
      }
      .discover-nft-filter-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .discover-filter-left {
          ul {
            display: flex;
            align-items: center;
            gap: 14px;
            padding-left: 0;
            list-style: none;
            margin-bottom: 0;
            li {
              padding: 10px 24px;
              border-radius: 100px;
              background: rgba(220, 220, 220, 0.2);
            }
          }
        }
        .discover-sorting-right {
          .dropdown {
            button {
              padding: 10px 24px;
              border-radius: 100px;
              background: rgba(220, 220, 220, 0.2);
              color: #000;
              border: none;
            }
          }
        }
      }
    }
    .discover-nft-items {
      .single-discover-item {
        padding: 10px;
        border-radius: 13.165px;
        border: 1.097px solid rgba(242, 242, 242, 0.5);
        background: #fff;
        .discover-image {
          img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
        .discover-content-bottom {
          position: relative;
          padding: 10px;
          padding-top: 30px;
          .discover-bid-profile {
            height: 30px;
            position: absolute;
            top: -15px;
            img {
              width: 30px;
              height: 30px;
              border-radius: 50%;
              border: 2px solid #fff;
              position: relative;
              &:nth-child(1) {
              }
              &:nth-child(2) {
                left: -16px;
              }
              &:nth-child(3) {
                left: -32px;
              }
              &:nth-child(4) {
                left: -48px;
              }
              &:nth-child(5) {
                left: -64px;
              }
              &:nth-child(6) {
                left: -80px;
              }
              &:nth-child(7) {
                left: -96px;
              }
            }
          }
          .discover-bid-info-top {
            h4 {
              color: #000;
              font-size: 19.747px;
              font-family: DM Sans;
              font-weight: 700;
              line-height: 19.146px;
              margin-bottom: 10px;
            }
            .discover-bid-amount-wrap {
              display: flex;
              justify-content: space-between;
              align-items: center;
              padding-bottom: 12px;
              margin-bottom: 12px;
              border-bottom: 1px solid #efefef;
              span.discover-bid-amount {
                color: #00ac4f;
                font-size: 10.971px;
                font-family: DM Sans;
                font-weight: 700;
                display: flex;
                gap: 10px;
                align-items: center;
                svg {
                  path {
                    fill: rgba(0, 172, 79, 1);
                  }
                }
              }
              span.discover-bid-count {
                color: #838383;
                text-align: right;
                font-size: 13.165px;
                font-family: DM Sans;
                font-weight: 500;
                line-height: 19.146px;
              }
            }
          }
          .discover-bid-info-bottom {
            .discover-bid-info-wrap {
              display: flex;
              justify-content: space-between;
              align-items: center;
              span.discover-bid-info {
                color: #5539a8;
                text-align: right;
                font-size: 10.971px;
                font-family: DM Sans;
                font-weight: 700;
                line-height: 19.146px;
                border-radius: 109.706px;
                background: #f5f5f5;
                display: inline-flex;
                padding: 4.388px 10.971px;
                align-items: flex-start;
                gap: 10.971px;
              }
              span.discover-bid-place {
                color: #4f33a3;
                font-size: 15.359px;
                font-family: DM Sans;
                font-weight: 500;
              }
            }
          }
        }
      }
      .more-nft-data-show {
        display: block;
        text-align: center;
        margin: 40px;
        margin-bottom: 0;
        a.nft-secondary-btn {
          padding: 10px 24px;
        }
      }
    }
  }
}
